@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: papayawhip;
    color: rgb(49, 25, 6);
}



header a {
    text-decoration: none;
    color: rgb(49, 25, 6);
    border: 2px solid rgb(49, 25, 6);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    transition: 0.7s ease-in-out;
}

header a:hover {
    color: papayawhip;
    background-color: rgb(49, 25, 6);
}

header {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin-top: 2rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

header a {
    margin-left: 15px;
}

.banner {
    top: 30px;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 1;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 15px;
    z-index: 0;
}

.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);   /* the first parameter specifies the pos at which the anim should complete;
                                            the second parameter specifies the pos at which the anim will start       */
}

@keyframes autoShowAnimation {
    
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.banner .content h1 {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 1em;
    -webkit-text-stroke: 2px rgb(49, 25, 6);
    color: saddlebrown;
}

.banner .content .author {
    font-family: Poppins;
    text-align: right;
    max-width: 300px;
    color: saddlebrown;
}

.banner .content h2 {
    font-size: 2rem;
}

/*Introduction start*/

#introduction {
    height: 100vh;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.title-style {
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin-bottom: 15px;
    transform: translateX(-100px);
}

.line {
    width: 100px;
    height: 2px;
    background: rgb(49, 25, 6);
    transform: translateX(-120px);
}

.section-content, .content-section p{
    max-width: 500px;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.2;
    margin-right: 20px;
}

/*Introduction end*/

/*History and Etymology Of Coffee start*/

.coffee-container-1, .coffee-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 50px;
}

.title-two, .title-three {
    margin-left: 100px;
}

.coffee-container-1 {
    margin-right: 5rem;
    margin-left: 5rem;
}

.coffee-container-2 {
    flex-direction: row-reverse;
    background-color: rgb(49, 25, 6);
    color: papayawhip;
    width: 100%;
    height: 100%;
}

.img-container .img-3 {
    margin-left: 5rem;
}

.img-1, .img-2, .img-3 {
    height: 350px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

.img-1, .img-2 {
    width: 500px;
}

.img-3 {
    height: 400px;
    width: 700px;
}

.full-text {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.expanded .full-text {
    max-height: 300px;
    opacity: 1;
}

.toggle-btn {
    display: inline-block;
    border: 2px solid rgb(49, 25, 6);
    color: rgb(49, 25, 6);
    background-color: papayawhip;
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 15px 15px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.toggle-btn:hover {
    color: papayawhip;
    background-color: rgb(49, 25, 6);
}

.sp {
    border: 2px solid papayawhip;
}

.section-content.expanded .toggle-btn,
.content-section.expanded .toggle-btn {
  display: block;
}

/*History and Etymology Of Coffee end*/

/*Types Of Coffee start*/

.products {
    margin-top: 5rem;
}

.title-four {
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 50px;
    background: papayawhip;
}

.card {
    position: relative;
    padding: 0 20px;
    height: 400px;
    width: 300px;
    background: papayawhip;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.card .content-card {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 5px;
    background: rgb(49, 25, 6);
    left: 10%;
    text-align: center;
    transition: 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.card-title {
    color: papayawhip;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: 0.5s ease;
    opacity: 0;
}

.card .items p {
    width: 80%;
    margin: 10px auto;
    font-size: 15px;
    transition: 0.5s ease;
    opacity: 0;
    line-height: 25px;
    color: papayawhip;
}

.card:hover .content-card {
    height: 100%;
    width: 100%;
    left: 0;
}

.card:hover p {
    opacity: 1;
    transition-delay: 0.5s;
}

.card:hover .card-title {
    opacity: 1;
    transition-delay: 0.5s;
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    top: -60px;
}

.card:hover .card-img img {
    opacity: 0;
}

/*Types Of Coffee end*/

/*Benefits Of Coffee start*/

.container-benefits {
    position: relative;
    width: 950px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 220px 0 30px papayawhip;
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.title-five {
    margin-bottom: 800px;
}

.clip {
    position: absolute;
    left: 220px;
    height: 100%;
    width: 100%;
    transition: clip-path 0.5s ease 0.2s;
}

.clip1 {
    background-color: peru;
    clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
    z-index: 1;
}

.clip2 {
    background-color: saddlebrown;
    clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
    z-index: 1;
}

.clip3 {
    background-color: rosybrown;
    clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
    z-index: 1;
}

.clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 10; /* bring hovered clip on top */
    transition: clip-path 0.5s ease;
}

.clip p {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.clip button {
    position: absolute;
    top: 220px;
    border: 2px solid;
    width: 150px;
    height: 70px;
    padding: 10px 10px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.3s;
    transform-origin: center center;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse{

    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.clip1 p {
    color: black;
}

.clip2 p {
    color: papayawhip;
}

.clip3 p {
    color: black;
}

.clip:hover p {
    transition-delay: 0.7s;
    opacity: 1;
}

.clip:hover button {
    transition-delay: 0s;
    opacity: 0;
}

.clip1 button {
    left: 45px;
    border-color: black;
    background-color: transparent;
    color: black;
}

.clip2 button {
    left: 400px;
    border-color: black;
    background-color: black;
    color: saddlebrown;
}

.clip3 button {
    left: 750px;
    border-color: black;
    background-color: transparent;
    color: black;
}


/*Benefits Of Coffee end*/

/*Coffee vs Tea start*/

.title-seven {
    margin-left: 200px;
}

.container-cof-vs-tea {
    position: relative;
    background-color: rgb(49, 25, 6);
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 100%;
}

.title-six {
    position: absolute;
    color: papayawhip;
    top: 50px;
    left: 500px;
}

.content-cof-tea {
    position: absolute;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    top: 180px;
    background-color: rgb(49, 25, 6);
}

.coffee, .tea {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    padding: 2em;
    background: rgb(49, 25, 6);
    border-radius: 10px;
    text-align: center;
}

.coffee {
    left: 200px;
}

.tea {
    right: 200px;
    left: 800px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.coffee::after, .coffee::before, .tea::after, .tea::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 10px; 
    animation: 3s spin linear infinite;
}

.coffee::after, .coffee::before {
    background-image: conic-gradient(from var(--angle), chocolate, burlywood, darkgoldenrod, rosybrown, peru, saddlebrown, chocolate);
}

.tea::after, .tea::before {
    background-image: conic-gradient(from var(--angle), darkolivegreen, lawngreen, darkgreen, darkseagreen, forestgreen, lightgreen, darkolivegreen);
}

.coffee::before, .tea::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.coffee-text, .tea-text {
    max-width: 400px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.2;
    color: papayawhip;
}

/*Coffee vs Tea end*/

/*Conclusion start*/

.container-conclusion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 5rem;
}

.title-seven {
    margin-bottom: 50px;
}

.content-conclusion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.2;
}

/*Conclusion end*/

/*Footer start*/

footer {
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

footer .container {
    position: absolute;
    top: 150px;
    text-align: center;
}

.c1 {
    left: 20rem;
}

.c2 {
    left: 40rem;
}

.c3 {
    left: 60rem;
}

footer .heading-info {
    margin-bottom: 20px;
}

footer p {
    line-height: 25px;
}

span {
    color: saddlebrown;
}

.footer-para {
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-top: 1px solid black; /* Thin line above */
    text-align: center;
}

.para {
    text-align: center;
    margin-top: 10px;
}

/*Footer end*/

/*Responsive design*/

@media screen and (max-width: 1023px) {

    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
}

@media screen and (max-width: 767px) {

    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
}
